{% extends "duet-ap2_en.j2" %}

{% block summary %}
<p>The Core Criterion and Core Evidence Vocabulary (CCCEV) is designed to support the exchange of information between organisations defining criteria and organisations responding to these criteria by means of evidences.
<br/>
The CCCEV contains two basic and complementary core concepts:
<ul>
<li> the criterion, something used as the basis for making a judgement or decision, e.g. a requirement set in a public tender or a condition that has to be fulfilled for a public service to be executed; and </l>
<li> the evidence, something which proves that something else exists or is true, in particular an evidence is used to prove that a specific criterion is met by someone of by something. </li>
</ul>
</p>
{% endblock %}

